%h5.view_mode List View
%table.disabled.table.table-hovers.table-condensed.table-bordered.list-view
  %tbody
    - @gadgets.each_with_index do |gadget, i|
      %tr.gadget-row
        %td.title.active{colspan: 3}
          = editable gadget, :title, {placeholder: "Gadget Title"}
          = gadgets_count(gadget)

      %tr.gadget_row
        %td
          = "No photos for this gadget uploaded yet" unless gadget.photos.any?
          = render partial: "gadget_photo_with_popover", collection: gadget.photos.first(4), as: :photo
        %td.control
          = b 'Add Photos', gadget, :file, :warning, :xs
          = b 'Delete', gadget, :trash, :danger, :xs, :delete

= javascript_include_tag "gadgets/list_mode"
