<h5 class="view_mode">List View</h5>
<table class="disabled table table-hovers table-condensed table-striped table-bordered">
  <thead>
    <tr class="active">
      <th>Gadget <%=hint("(click to rename)")%></th>
      <th>Up to 5 first photos <%=hint("(more photos available in <a href='#{gadgets_path}' class='warning'>Cover Flow</a> mode)")%></th>
      <th>Manage</th>
    </tr>
  </thead>
  <tbody>
    <% @gadgets.each do |gadget| %>
      <%= content_tag(:tr, class: "gadget_row", data: { gadget: gadget.id } ) do -%>
        <td><strong><%= editable gadget, :title %> <%=gadgets_count(gadget)%></td>
        <td width="660">
            <%= "No photos for this gadget uploaded yet" unless gadget.photos.any? %>
            <%= render partial: "gadget_photos_with_popover", locals: {gadget: gadget, photos: gadget.photos.first(5) }%>
        </td>
        <td width="190">
          <%= b 'Add Photos', gadget, :file, :warning, :xs %>
          <%= b 'Delete', gadget, :trash, :danger, :xs, :delete %>
        </td>
      <% end -%>
    <% end %>
  </tbody>
</table>
<%= javascript_include_tag "gadgets/list_mode" %>