= render partial: "gadgets_search"
%h5.view_mode Cover Flow View
- @gadgets.each do |gadget|
  %h4.gadget_title
    = editable gadget, :title, {placeholder: "Gadget Title"}
    = b 'Add Photos', gadget_path(gadget), :file, "default right", :xs
  = content_tag(:tr, class: "gadget_row" ) do
    - if gadget.photos.any?
      .ContentFlow{id: "cf-#{gadget.id}", useAddOns: "Gadgets"}
        .loadIndicator
          .indicator
        .flow
          - gadget.photos.each_with_index do |image, i|
            = image_tag image.photo.url(:medium), class: "item", title: gadget_title(gadget,i+1), href: image.photo.url(:full)
        .globalCaption
        .scrollbar
          .slider
            .position
    - else
      %h5
        No photos for #{gadget.title} uploaded yet




