<h1><%= editable @gadget, :title %></h1>
<span class="help-block">Let's upload photos of this gadget. Click 'Browse' to select your images or simply drag them drop zone!</span>
  <%= file_field_tag :photo, {"data-url" => "/gadgets/#{@gadget.id}/photos", "data-id" => "#{@gadget.id}",name: "photo[photo]", multiple: "", type: "file", class: "btn btn-info btn-lg"} %>
<hr>
<div id="gadgets_collection">
  <h4>My <%= @gadget.title %> Photos</h4>
  <% @gadget.photos.each do |image| -%>
    <%= image_tag image.photo.url(:thumb) %>
  <% end -%>
</div>
<hr>
<%= b "Back", gadgets_path, "arrow-left" %>

<%= javascript_include_tag "gadgets/show" %>